<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/status.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="row status-header-row">
            <div class="logo-div col-lg-4" >
                <h1>This is where the logo goes, nerds</h1>
            </div>
            <div class="info-div col-lg-4">
                <p>Hello, Ryan!  <span>STATUS: V. Good Poster</span></p>
            </div>
            <div class="logout-div col-lg-4">
                <button class="btn btn-default">Logout</button>
            </div>
        </div>
        <div class="row status-main-row">
            <div class="left-side col-lg-6">
                <p>This is the left side of the area</p>
            </div>
            <div class="right-side col-lg-6">
                <p>This is the right side, what a concept</p>
            </div>
        </div>
        <div class="row status-wall-row col-lg-12">
            <p>This is where YOUR wall will be. I know, no pressure LOLZ</p>
        </div>

    
    </div>
    
</body>
</html>