<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/user.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="row header-user-row">
            <div class="user-logo-div col-lg-4">
                <h1>Logo Space</h1>
            </div>
            <div class="user-info-div col-lg-4">
                <p>This is Ryan, he's an alright poster</p>
            </div>
            <div class="logout-div col-lg-4">
                <button class="btn btn-default"> logout </button>
            </div>
        </div>
        <div class="row user-main-row">
            <div class="left-side col-lg-6">
                <p>This is the left side of the area</p>
            </div>
            <div class="right-side col-lg-6">
                <p>This is the right side, what a concept</p>
            </div>
        </div>
        <div class="row user-wall-row col-lg-12">
            <p>This is where YOUR wall will be. I know, no pressure LOLZ</p>
        </div>

    </div>
</body>
</html>