.wrapper{
    background-color: #FEFDFF;
    font-family: 'Abel', sans-serif;
    height: auto;

}
.header{
    height: 60px;
    width: 100%;
    opacity: 0.2;
    background-color: #C1BFb5;
    transition: opacity 0.5s ease-in-out;
}
.header:hover{
    opacity: 1;
}
.helloDiv, .explanationDiv{
    height: 95%;
    display: inline-block;
}
.mainDiv {
    width: 100%;
    height: 450px;
    background-image: url("../images/AdobeStock_106751363.jpeg");
    background-size: cover;
}
.backgroundOpacityDiv{
    background-color: rgba(109 , 100, 102, 0.3);
    height: 100%;
}
.logoDiv{
    text-align: center;
    display: inline-block;
    font-size: 50px;
    color: #b02e0c;
    margin-top: 100px;
}
#mainText{
    font-size: 125px;
    opacity: 1;
}
#subText{
    opacity: 1;
}
.descriptionDiv{
    height: 450px;
    width: 100%;
    background-image: url("../images/stock-pictures-computer.jpg");
    background-size: cover;
    font-size: 30px;

}

.descriptionSection{
    background-color: rgba(176 , 46, 12, 0.8);
    display: inline-block;
    height: 100%;
    color: #c1bfb5;
}
ul{
    list-style-type: square;
}
.comeOnOver{
    height: 425px;
    width: 100%;
    background-color: rgba(142, 177, 199, 0.6);
    font-size: 26px;
}
.joinTheSqwad{
    padding-left: 35%;
}
#revealRegister{
    margin-left: 100px;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #C1BFb5;
    color: black;
    font-size: 20px;
}
#revealRegister:hover{
    background-color: #b02e0c;
    color:white
}
#revealLogin{
    margin-left: 100px;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #C1BFb5;
    color: black;
    font-size: 20px;

}
#revealLogin:hover{
    background-color: #b02e0c;
    color: white;
}
.registerBenefits{
    margin-left: 60px;
}
#registerModal{
    text-align: center;
}
.styleDiv{
    background-color: #c1bfb5;
}
.join-Squad{
    transition: background-color 0.5s ease, color 0.5s ease;
    color:black;
    background-color: #C1BFb5;
}
.join-Squad:hover{
    background-color: #b02e0c;
    color:white;
}